@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');


body {
    background-color: #fffbdc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .navbar-brand {
    margin-right: auto;
    color: #047900; /* Customize the color */
    font-family: 'Oswald', sans-serif; /* Customize the font family */
  }
  
  .navbar-nav {
    margin-left: auto;
  }
  
  .navbar-nav .nav-link {
    color: #556b2f; /* Customize the color */
    font-family: 'Oswald', sans-serif; /* Customize the font family */
  }

  .text-container h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 80px;
  }

  .text-container p {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin-top: 20px;
  }
  .text-container {
    animation: fade-in-right 1s ease-in-out;
  }

  @keyframes fade-in-right {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .cleaningimg1 {
    border-radius: 50px;
  }

  .specialty-boxes {
    background-color: #8fbc8f;
    padding: 30px;
    margin-top: 30px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
  }

  .specialty-boxes img {
    display: block;
    width: 150px; /* Adjust the size as needed */
    height: auto;
    margin-bottom: 15px;
    border-radius: 8px;
  }

  .footer {
    background-color: #556b2f;
    color: #ffffff;
    padding: 5px;
    margin-top: auto;
  }